$secondary-font-family: "Saira Semi Condensed", sans-serif;
$font-family: "Source Sans Pro", sans-serif;

$font-thin: 200;
$font-normal: 400;
$font-bold: 600;
$font-extra-bold: 900;

$default-animation-duration: 0.2s;
$default-animation-style: ease-out;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;
